05 00 * * 1 certbot certonly \
  --webroot \
  -w /var/www/webroot \
  -d teityura.com \
  -d gitlab.teityura.com \
  -m teityura@gmail.com \
  --force-renew \
  --agree-tos \
  --non-interactive \
  --post-hook "/usr/sbin/nginx -s reload 2>&1"
