version: "3"

services:
  rproxy:
    build: .
    restart: always
    volumes:
      - ./entrypoint.d/98-create-cert.sh:/docker-entrypoint.d/98-create-cert.sh:ro
      - ./entrypoint.d/99-start.crond.sh:/docker-entrypoint.d/99-start.crond.sh:ro
      - ./nginx.conf:/etc/nginx/nginx.conf:ro
      - ./stream.d:/etc/nginx/stream.d:ro
      - ./conf.d:/etc/nginx/conf.d:ro
      - ./crontab:/etc/crontabs/root:ro
      - letsencrypt:/etc/letsencrypt:rw
      - webroot:/var/www/webroot:rw
      - log:/var/log:rw
    ports:
      - 80:80
      - 443:443
      - 2222:2222
    extra_hosts:
      - host.docker.internal:host-gateway

volumes:
  letsencrypt:
  webroot:
  log:
