50 23 * * 1 certbot certonly \
  --webroot \
  -w /var/www/webroot \
  -d teityura.com \
  -d gitlab.teityura.com \
  --force-renew \
  --agree-tos \
  --non-interactive \
  --register-unsafely-without-email && \
  /usr/sbin/nginx -s reload
